.home-main-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.welcome-message {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}
.login-redirect-btn {
    text-decoration: none;
    color: var(--txt-color);
    background-color: var(--btn-bg);
    padding: 8px 12px;
    border-radius: 16px;
}