.main-login-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.logged-in-msg {
    font-size: 18px;
    font-weight: bold;
}
.logout-btn {
    color: var(--txt-color);
    background-color: var(--btn-bg);
    border-radius: 16px;
    padding: 8px 24px;
    margin-top: 8px;
}
.login-dialog-box {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    box-sizing: border-box;
}
.dialog-box-heading-area {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--nav-bg);
    color: var(--txt-color);
    border-radius: 16px 16px 0 0;
}
.dialog-box-content-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    background-color: var(--form-body);
    padding: 20px 8px;
    align-items: center;
    border-radius: 0 0 16px 16px;
}
.login-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-evenly;
}
.login-input-field-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 8px 0;
}
.login-input-fields {
    display: flex;
    width: 75%;
    height: 24px;
    border-radius: 4px;
}
.login-submit-btn-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.login-details-submit-btn {
    width: 40%;
    background-color: var(--btn-bg);
    color: var(--txt-color);
    padding: 8px 12px;
    border-radius: 16px;
}
.error-div {
    font-size: 14px;
    color: red;
    display: flex;
    justify-content: center;
}