.requests-main-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.requests-msg {
    display: flex;
    font-size: 18px;
    font-weight: bold;
}
.requests-login-redirect-btn {
    text-decoration: none;
    color: var(--txt-color);
    background-color: var(--btn-bg);
    padding: 8px 12px;
    border-radius: 16px;
}
.requests-full-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.requests-selection-wrapper {
    display: flex;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background-color: blanchedalmond;
}
.requests-selection-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 24px;
    align-items: center;
    padding: 0 0 0 32px;

}
.requested-item-types {
    display: flex;
    text-decoration: none;
    color: var(--txt-color);
    background-color: var(--btn-bg);
    border-radius: 16px;
    padding: 6px 12px;
    height: fit-content;
}
.active-request-tab {
    border: 2px solid black;
    background-color: blue;
}